<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test_android_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <!-- For free-style voice trigger. -->
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MenuTheme" >
        <activity
            android:name="com.example.test_android_app.MainActivity"
            android:label="@string/app_name" 
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger"
                />
        </activity>
        <activity android:name=".card.CardsActivity"
            android:exported="true"
            />

        <activity android:name=".touchpad.SelectGestureDemoActivity"
            android:exported="true"
            />

        <activity android:name=".touchpad.DiscreteGesturesActivity"
            android:exported="true"
            />

        <activity android:name=".touchpad.ContinuousGesturesActivity"
            android:exported="true"
            />

        <activity android:name=".theming.ThemingActivity"
            android:exported="true"
            />
    </application>

</manifest>
